<nav class="navbar navbar-expand-lg navbar-dark mb-5">
  <div class="container-fluid">
    <div><a class="navbar-brand fw-bold" href="/">Vegan Pals</a><i
        class="fas fa-pepper-hot fa-2x"
        style="color: white;"
      ></i></div>
    <div class="d-flex">
      <div><i class="fas fa-users fa-2x" style="color: white;"></i><a
          class="navbar-brand fw-bold p-2"
          href="/cooktogether"
        >Cook Together</a></div>
      <div><i class="fas fa-utensils fa-2x" style="color: white;"></i><a
          class="navbar-brand fw-bold p-2"
          href="/myrecipes"
        >My Recipes</a></div>
      <div><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i><a
          id="logout-link"
          class="navbar-brand fw-bold p-2"
          href="/auth/logout"
        >Logout</a></div>
    </div>
  </div>
</nav>