<section class="search-bar mx-auto">
  <div>
    <h3 class="text-center">Find new exciting recipes</h3>
    <form class="input-group mb-4 mt-4 mx-auto">
      <input
        type="text"
        id="searchInput"
        class="form-control me-3 rounded-pill"
        placeholder="search for recipes here"
      />

      <div class="input-group-append"></div>
    </form>
  </div>
  <section id="prep-time" class="d-flex flex-row">
    <div class="fw-bold mx-2">Prep-Time:</div>

    <div class="form-check">
      <input
        class="form-check-input radioButton prep-time"
        type="radio"
        name="flexRadioDefault"
        id="30"
      />
    </div>
    <label class="form-check-label fw-bold" for="radiobutton">
      up to 30mins
    </label>
    <div class="form-check mx-2">
      <input
        class="form-check-input radioButton prep-time"
        type="radio"
        name="flexRadioDefault"
        id="60"
      />
      <label class="form-check-label fw-bold" for="flexRadioDefault2">
        up to 60minutes
      </label>
    </div>
    <div class="form-check mx-2">
      <input
        class="form-check-input radioButton prep-time"
        type="radio"
        name="flexRadioDefault"
        id="500"
      />
      <label class="form-check-label fw-bold" for="flexRadioDefault2">
        60minutes+
      </label>
    </div>

  </section>
  <div class="search-button">
    <button
      id="searchButton"
      type="click"
      class="btn main-button-style input-group-text mb-3 mt-3 fw-bold"
      type="button"
    >SEARCH</button>
  </div>
</section>