<nav
  class="navbar navbar-expand-lg navbar-dark mb-5"
  style="height:5rem;  background-color:#304922;"
>
  <div class="container-fluid">
    <div><a class="navbar-brand fw-bold" href="/">Vegan Pals</a><i
        class="fas fa-pepper-hot fa-2x"
        style="color: white;"
      ></i></div>
    <div class="d-flex justify-content-end">
      <a class="navbar-brand fw-bold" href="/login">Login</a>
      <a class="navbar-brand fw-bold" href="/signup">SignUp</a>
    </div>
  </div>
</nav>