<nav class="navbar navbar-expand navbar-dark mb-5">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fw-bold" href="/"><span class="navtitle">Vegan Pals</span>
        <i class="fas fa-home fa-2x" style="color: white"></i></a>
    </div>
    <div class="d-flex justify-content-end">
      <div>
        <a class="navbar-brand fw-bold p-2" href="/login"><i
            class="fas fa-sign-in-alt fa-2x"
            style="color: white"
          ></i>
          <span class="navtitle">Login</span></a>
      </div>
      <div>
        <a class="navbar-brand fw-bold p-2" href="/signup"><i
            class="fas fa-user-plus fa-2x"
            style="color: white"
          ></i>
          <span class="navtitle">SignUp</span></a>
      </div>
    </div>
  </div>
</nav>