
{{>private-nav}}
<main>
  <div class="ms-100, me-100">
    <h1 class="pb-5">Choose a recipe to cook with a pal</h1>

    <div class="d-flex flex-wrap justify-content-around">
      {{#each recipes as |recipe|}}
          <div class="card d-inline-flex  justify-content-between p-2 bd-highlight" style="width: 20rem">
            <div class="card-body mx-auto">
              <img src={{recipe.image}} class="card-img-top" alt="Image of dish" />
              <h5 class="card-title text-center pt-4">{{recipe.dish_name}}</h5>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
              <a href='cooktogether/myrecipes/pals/{{recipe.recipe_id}}' class="anchor-button-primary"> Choose recipe </a>
              <a href='/recipe/{{recipe.recipe_id}}' target="_blank" class="anchor-button-secondary"> View recipe </a>
            </div>
          </div>
      {{/each }}
    </div>
  </div>
</main>