<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Vegan Pals</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Vegan Pals<3</a>
        <div class="d-flex justify-content-end">
          <a class="navbar-brand" href="#">Login</a>
          <a class="navbar-brand" href="#">SignUp</a>
        </div>
      </div>
    </nav>
    <header>
      <h1>Hey Pal!</h1>
    </header>
    <div class="d-flex flex-row justify-content-evenly">
      <div class="mt-5">
        <div>
          <h4>Find new exciting recipes:</h4>
          <form class="input-group mb-4 mt-3">
            <input
              type="text"
              id="searchInput"
              class="form-control me-3 rounded-3"
              placeholder="search for recipes here"
            />
            <div class="input-group-append"></div>
          </form>
        </div>

        <div class="d-flex flex-row">
          <div class="pr-2">prep-time</div>
          <div class="form-check mx-3">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="30"
            />
          </div>
          <label class="form-check-label" for="radiobutton"> >30mins </label>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="60"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              >1hr
            </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="120"
              
            />
            <label class="form-check-label" for="flexRadioDefault2">
              >2hrs
            </label>
          </div>
        </div>

        <div class="d-flex flex-wrap">
          <div class="">intolerances</div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="gluten"
              id="gluten"
            />
            <label class="form-check-label" for="gluten"> gluten </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              aria-controls=" "
              type="checkbox"
              name="peanuts"
              id="peanuts"
            />
            <label class="form-check-label" for="peanuts">
              peanuts
            </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="sesame"
              id="sesame"
              />
              <label class="form-check-label" for="sesame">
                sesame
              </label>
          </div>

          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="grain"
              id="grain"
            />
            <label class="form-check-label" for="grain">
              grain
            </label>
          </div>
          
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="soy"
              id="soy"
            />
            <label class="form-check-label" for="soy"> soy </label>
          </div>
         
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="sulphite"
              id="sulphite"
            />
            <label class="form-check-label" for="sulphite">
              sulphite
            </label>
          </div>
          
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="tree-nut"
              id="tree-nut"
            />
            <label class="form-check-label" for="tree nut">
              tree nut
            </label>
          </div>
         
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="wheat"
              id="wheat"
            />
            <label class="form-check-label" for="wheat">
              wheat
            </label>
          </div>
        </div>
        
        <button
          id="searchButton"
          type="click"
          class="btn btn-success input-group-text mb-3 fw-bold"
        >
          SEARCH
        </button>
      </div>
      <div class="">
        <image>image here</image>
      </div>
    </div>

    <div>
      <h3>how it works</h3>
      <div class="d-flex flex-row justify-content-evenly mt-5">
        <div>
          <div>
            <image>image here</image>
          </div>
          <p>Find a recipe</p>
          <p>1. Find best recipes that accommodate your intolerances</p>
        </div>
        <div>
          <div>
            <image>image here</image>
          </div>
          <p>Find a recipe</p>
          <p>1. Find best recipes that accommodate your intolerances</p>
        </div>
        <div>
          <div>
            <image>image here</image>
          </div>
          <p>Find a recipe</p>
          <p>1. Find best recipes that accommodate your intolerances</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Other pals love</h2>
      <div class="d-flex flex-wrap justify-content-around">
      
        {{#each latestSavedRecipes as |recipe|}}
        <a href=`/recipe/{{recipe.recipe_id}}`>
          <div class="card d-inline-flex  justify-content-between p-2 bd-highlight" style="width: 18rem">
            <div class="card-body mx-auto">
              <img src={{recipe.image}} class="card-img-top" alt="Image of dish" />
              <h5 class="card-title text-center">{{recipe.dish_name}}</h5>
            </div>
          </div>
        </a>
        {{/each }}
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  {{!-- <script src="../src/public/js/index.js"></script> --}}
</html>
