<h1>Your favourite recipes</h1>

<div
  class="position-absolute top-50 start-50 translate-middle text-center form-container"
>
  <h2 class="text-center">Your yummy recipes</h2>
  <hr />
  <form id="my-recipes-form">
    <div
    class="card d-inline-flex  justify-content-between p-2 bd-highlight"
    style="width: 18rem">
    <div class="card-body mx-auto">
      <h5 class="card-title text-center">{{recipe.title}}</h5>
      <img src={{recipe.image}} class="card-img-top" alt="Image of dish" />
      <div class="m-2 w-25 h-50"> <button
          id="view-recipe-btn"
          type="click"
          class="btn btn-primary input-group-text mb-3 fw-bold"> View recipe </button>
        </div>
        <div class="m-2 w-25 h-50"> <button
          id="save-recipe"
          type="click"
          class="btn btn-secondary input-group-text mb-3 fw-bold"> Save to favourites </button>
        </div>
    </div>
  </div>
    
      </div>
    </div>
  </form>
</div>
{{#each recipes as |recipe|}}
  <p> {{recipe.recipe_id}} </p>
  <p> {{recipe.dish_name}} </p>
{{/each }}
