
{{> public-nav }} 

<div class="background">
    <header>
      <h1 class="text-center mb-4">Hey Pal!</h1>
    </header>
    <div class="d-flex flex-row justify-content-evenly">
      <div class="mt-5">
        <div>
          <h3>Find new exciting recipes</h3>
          <form class="input-group mb-4 mt-4">
            <input
              type="text"
              id="searchInput"
              class="form-control me-3 rounded-pill"
              placeholder="search for recipes here"
            />
            <div class="input-group-append"></div>
          </form>
        </div>

        <div class="d-flex flex-row">
          <div class="fw-bold mx-2">Prep-Time:</div>
          <div class="form-check">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="30"
            />
          </div>
          <label class="form-check-label fw-bold" for="radiobutton"> up to 30minutes</label>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="60"
            />
            <label class="form-check-label fw-bold" for="flexRadioDefault2">
              up to 60minutes
            </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton prep-time"
              type="radio"
              name="flexRadioDefault"
              id="500"
              
            />
            <label class="form-check-label fw-bold" for="flexRadioDefault2">
              60minutes+
            </label>
          </div>
        </div>

        <div class="d-flex flex-wrap mt-3">
          <div class="fw-bold">Intolerances:</div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="gluten"
              id="gluten"
            />
            <label class="form-check-label fw-bold" for="gluten"> gluten </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              aria-controls=" "
              type="checkbox"
              name="peanuts"
              id="peanut"
            />
            <label class="form-check-label fw-bold" for="peanuts">
              peanuts
            </label>
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="sesame"
              id="sesame"
              />
              <label class="form-check-label fw-bold" for="sesame">
                sesame
              </label>
          </div>

          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="grain"
              id="grain"
            />
            <label class="form-check-label fw-bold" for="grain">
              grain
            </label>
          </div>
          
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="soy"
              id="soy"
            />
            <label class="form-check-label fw-bold" for="soy"> soy </label>
          </div>
         
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="sulphite"
              id="sulphite"
            />
            <label class="form-check-label fw-bold" for="sulphite">
              sulphite
            </label>
          </div>
          
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="tree-nut"
              id="tree-nut"
            />
            <label class="form-check-label fw-bold " for="tree nut">
              tree nut
            </label>
          </div>
         
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="wheat"
              id="wheat"
            />
            <label class="form-check-label fw-bold fs-6" for="wheat">
              wheat
            </label>
          </div>
        </div>
        
        <button
          id="searchButton"
          type="click"
          class="btn-lg btn-success input-group-text mb-3 mt-3 fw-bold"
        >
          SEARCH
        </button>
      </div>
      <!-- <div class="card">
        <img src="../images/food.jpg" alt="foodImage">
      </div> -->
    </div>
    <div>
  
    </div>
    <div class="mb-5">
      <h2 class="text-center">How It Works</h2>
      <div class="d-flex flex-row justify-content-evenly mt-5"> 
      <div class="card text-dark bg-light rounded" style="max-width: 17rem; height: 12rem;">
        <i class="fas fa-2x fa-search position-absolute top-0 start-50 translate-middle-x mt-4"></i>
        <div class="card-body mt-5">
          <h4 class="card-title">1. Find a recipe</h4>
          <h6 class="card-text">Find best recipes that accommodate your intolerances</h6>
        </div>
      </div>
      <div class="card text-dark bg-light rounded" style="max-width: 17rem; height: 12rem">
        <i class=" far fa-2x fa-save position-absolute top-0 start-50 translate-middle-x mt-4"></i>
        <div class="card-body mt-5">
          <h4 class="card-title ">2. Save it </h4>
          <h6 class="card-text">Save the recipes in your cook later</h6>
        </div>
      </div>
      <div class="card text-dark bg-light rounded-3" style="max-width: 17rem; height: 12rem">
        <i class="fas fa-2x fa-users position-absolute top-0 start-50 translate-middle-x mt-4"></i>
        <div class="card-body mt-5">
          <h4 class="card-title">3. Cook it with a pal!</h4>
          <h6 class="card-text">Meet awesome people and cook your favorites together</h6>
        </div>
      </div>
    </div>  
    </div>
    <div>
      <h2 class="mx-5">Other pals love</h2>
      <div class="d-flex flex-wrap justify-content-around">
        {{#each latestSavedRecipes as |recipe|}}
        <a href=`/recipe/{{recipe.recipe_id}}` style="text-decoration: none; color:#f6EFDD">
           <div
            class="card justify-content-between p-2 bd-highlight mb-4 shadow rounded"
            style="width: 18rem; height:20rem; background-color:#8EB44F;"
          >
            <div class="card-body mx-auto">
              <img src={{recipe.image}} class="card-img-top border border-light" alt="Image of dish" />
              <h5 class="card-title text-center mt-3">{{recipe.dish_name}}</h5>
            </div>
          </div>
        </a>
        {{/each }}
      </div>
      </div>
    </div>
   </div>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="../src/public/js/index.js"></script>
 

