{{>public-nav}}
<h1 class="text-center mb-4">Hey Pal!</h1>
<div class="d-flex flex-row justify-content-evenly">
  <div class="mt-5">
    {{>public-searchbar}}
    <div class="mb-5">
      <h2 class="text-center">How It Works</h2>
      <div class="d-flex flex-row justify-content-evenly mt-5">
        <div
          class="card text-dark bg-light rounded"
          style="max-width: 17rem; height: 12rem"
        >
          <i
            class="
              fas
              fa-2x fa-search
              position-absolute
              top-0
              start-50
              translate-middle-x
              mt-4
            "
          ></i>
          <div class="card-body mt-5">
            <h4 class="card-title">1. Find a recipe</h4>
            <h6 class="card-text">
              Find best recipes that accommodate your intolerances
            </h6>
          </div>
        </div>
        <div
          class="card text-dark bg-light rounded"
          style="max-width: 17rem; height: 12rem"
        >
          <i
            class="
              far
              fa-2x fa-save
              position-absolute
              top-0
              start-50
              translate-middle-x
              mt-4
            "
          ></i>
          <div class="card-body mt-5">
            <h4 class="card-title">2. Save it</h4>
            <h6 class="card-text">Save the recipes in your cook later</h6>
          </div>
        </div>
        <div
          class="card text-dark bg-light rounded-3"
          style="max-width: 17rem; height: 12rem"
        >
          <i
            class="
              fas
              fa-2x fa-users
              position-absolute
              top-0
              start-50
              translate-middle-x
              mt-4
            "
          ></i>
          <div class="card-body mt-5">
            <h4 class="card-title">3. Cook it with a pal!</h4>
            <h6 class="card-text">
              Meet awesome people and cook your favorites together
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="mx-5">Other pals love</h2>
      <div class="d-flex flex-wrap justify-content-around">
        {{#each latestSavedRecipes as |recipe|}}
        <a
          href="/recipe/{{recipe.recipe_id}}"
          style="text-decoration: none; color: #f6efdd"
        >
          <div
            class="
              card
              justify-content-between
              p-2
              bd-highlight
              mb-4
              shadow
              rounded
            "
            style="width: 18rem; height: 20rem; background-color: #8eb44f"
          >
            <div class="card-body mx-auto">
              <img
                src="{{recipe.image}}"
                class="card-img-top border border-light"
                alt="Image of dish"
              />
              <h5 class="card-title text-center mt-3">
                {{recipe.dish_name}}
              </h5>
            </div>
          </div>
        </a>
        {{/each }}
      </div>
    </div>
  </div>
</div>

