<figure id="image-container" class="mx-auto" style="width: 50vw">
  <figcaption id="recipe-name" class="text-center">
    <h2>< Recipe Name ></h2>
  </figcaption>
  <img
    src="https://images.unsplash.com/photo-1479832912902-77089f02b1d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
    alt="..."
    style="width: 50vw"
  />
</figure>
<section class="row text-center pb-4" style="justify-content: center">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cook Time</h5>
        <p class="card-text">45 min</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Serves</h5>
        <p class="card-text">4</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <a href=""
          ><h5 class="card-title"><i class="fas fa-heart"></i></h5
        ></a>
        <p class="card-text">Add to Favourites</p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-sm-3 ms-5">
    <div class="card">
      <h3>Ingredients:</h3>
      <ul>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 m-5">
    <div class="directions">
      <h3>Directions:</h3>
      <li>
        Pour in the vegetable stock, liquid smoke, rice and the cooked kidney
        beans. Bring to a boil, reduce heat to medium low, cover, and cook,
        stirring occasionally, for 45 minutes or until the rice is tender.
      </li>
      <li>
        Pour in the vegetable stock, liquid smoke, rice and the cooked kidney
        beans. Bring to a boil, reduce heat to medium low, cover, and cook,
        stirring occasionally, for 45 minutes or until the rice is tender.
      </li>
      <li>
        Pour in the vegetable stock, liquid smoke, rice and the cooked kidney
        beans. Bring to a boil, reduce heat to medium low, cover, and cook,
        stirring occasionally, for 45 minutes or until the rice is tender.
      </li>
      <li>
        Pour in the vegetable stock, liquid smoke, rice and the cooked kidney
        beans. Bring to a boil, reduce heat to medium low, cover, and cook,
        stirring occasionally, for 45 minutes or until the rice is tender.
      </li>
      <li>
        Pour in the vegetable stock, liquid smoke, rice and the cooked kidney
        beans. Bring to a boil, reduce heat to medium low, cover, and cook,
        stirring occasionally, for 45 minutes or until the rice is tender.
      </li>
    </div>
  </div>
</section>
