<h1 class="text-center">Recipe Search Results</h1>

{{#each recipeData as |recipe|}}
  <div
    class="card d-inline-flex justify-content-between p-2 bd-highlight"
    style="width: 18rem;"
  >
    <div class="card-body">
      <h5 class="card-title text-center">{{recipe.title}}</h5>
    </div>
    <img src={{recipe.image}} class="card-img-top" alt="..." />
    <div class="card-body">

      <a href="#" class="card-link">View more</a>
    </div>
  </div>
{{/each}}