<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Vegan Pals<3</a>
        <div class="d-flex justify-content-end">
          <a class="navbar-brand" href="#">Login</a>
          <a class="navbar-brand" href="#">SignUp</a>
        </div>
      </div>
    </nav>
    <header>
      <h1>Hey Pal!</h1>
    </header>
    <div class="d-flex flex-row justify-content-evenly">
      <div class="mt-5">
        <div>
          <h4>Find new exciting recipes:</h4>
          <form class="input-group mb-4 mt-3">
            <input
              type="text"
              id="searchInput"
              class="form-control me-3 rounded-3"
              placeholder="search for recipes here"
            />
            <div class="input-group-append"></div>
          </form>
        </div>
<h1 class="text-center">Recipe Search Results</h1>

{{#each recipeData as |recipe|}}
  <div
    class="card d-inline-flex justify-content-between p-2 bd-highlight"
    style="width: 18rem;"
  >
    <div class="card-body">
      <h5 class="card-title text-center">{{recipe.title}}</h5>
    </div>
    <img src={{recipe.image}} class="card-img-top" alt="Image of dish" />
    <div class="card-body">

      <a href="#" class="card-link">View more</a>
    </div>
  </div>
{{/each}}