 {{#if loggedIn}}
  {{>private-nav}}  
  {{>private-searchbar}}

{{else}}
  {{>public-nav}}  
  {{>public-searchbar}}
{{/if}}

  <main><div><h1 class="text-center">Recipe Search Results</h1></div>


{{#each recipeData as |recipe|}}
  
  <div class="d-inline-flex justify-content-evenly" id="search-results-container">
  <div
    class="card position-relative d-inline-flex justify-content-between p-2 bd-highlight"
    style="width: 18rem">
   <a href='recipe/{{recipe.recipe_id}}'> <div id= "recipe-card" class="card-body mx-auto">
      <h5 class="card-title text-center">{{recipe.title}}</h5>
      <img src={{recipe.image}} class="card-img-top" alt="Image of dish" /> </a>
       </div> 
  </div>
  </div>
{{/each}}
  <div>
    <button id="renderMoreResults">
      Render more results
    </button>
  </div></main> 
