<h1 class="text-center">Recipe Search Results</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">{{recipe.title}}</h5>
  </div>
  <img src="..." class="card-img-top" alt="..." />
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div></div>