{{> public-navbar}}

<form class="ui form">
  <h4 class="ui dividing header">Sign up</h4>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="[first-name]" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" name="[last-name]" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
      <label>Email</label>
      <input type="text" placeholder="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" placeholder="Password">
    </div>
    <div class="field">
      <label>Confirm Password</label>
      <input type="text" placeholder="Confirm Password">
    </div>
<button class="ui button" type="submit">Sign Up</button>
</form>