<div
  class="position-absolute top-50 start-50 translate-middle text-center form-container"
>
  <h2 class="text-center">Sign Up</h2>
  <hr />
  <form id="signup-form">
    <div class="d-flex flex-wrap">
      <div class="mb-3 w-100">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="First Name"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Last Name"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          type="text"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          type="text"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password"
        />
      </div>
      <div class="d-grid gap-2 w-100">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
</div>