<div
  class="position-absolute top-50 start-50 translate-middle text-center form-container"
>
  <div class="d-flex flex-wrap">
    <h2 class="text-center">Sign Up</h2>
    <hr />
    <form id="sign-up-form">
      <div id="sign-up-error-messages"></div>
      <div class="d-flex flex-wrap">
        <div class="mb-3 w-100">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
          />
        </div>
        <div class="mb-3 w-100">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
          />
        </div>

        <div class="">intolerances</div>
        {{#each intolerances as |intolerance|}}
          <div class="form-check mx-2">
            <input
              class="form-check-input radioButton intolerance"
              type="checkbox"
              name="{{intolerance}}"
              id="{{intolerance}}"
            />
            <label
              class="form-check-label"
              for="{{intolerance}}"
            >{{intolerance}}</label>
          </div>
        {{/each}}

        <div class="mb-3 w-100">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="mb-3 w-100 sign-up inputs">
          <input
            type="password"
            class="form-control"
            value="FakePSW"
            id="myInput"
            placeholder="Password"
          />
        </div>
        <div class="mb-3 w-100">
          <input
            type="password"
            class="form-control"
            value="FakePSW"
            id="myInput"
            placeholder="confirmPassword"
          />
        </div>
        <div class="d-grid gap-2 w-100">
          <div class="sign-up-buttons-container"></div>
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>