.login-page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.login-container {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 20%;
}

.main-button-style {
  background-color: #304922;
  color: #f6efdd;
  width: 150px;
  max-height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}
.login-error-message {
  text-align: center;
  color: red;
}

.login-inputs {
  width: 60%;
  margin: auto;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 150px;
  max-height: 30px;
  display: inline;
  margin: 10px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 80%;
    left: 10%;
  }
  .login-inputs {
    width: 80%;
  }
}
