/* colours
dark green - #304922
lighter green - #8EB44F
pink/red - #ED6160
yellow - #DAAF53
pale beige - #F6EFDD*/
body {
  background-color: #f6efdd;
}

main {
  margin-right: 35;
  margin-left: 35;
}

.form-container {
  width: 75%;
}

.search-bar {
  padding: 1rem;
  background-color: #daaf53;
}

.recipe-car-anchors-container {
  text-align: center;
}
.recipe-title {
  background-color: #f6efdd;
  color: #304922;
}
.recipe-card-sm {
  background-color: #304922;
  color: #f6efdd;
}

.main-button-style {
  background-color: #304922;
  color: #f6efdd;
}

.anchor-button-secondary {
  background-color: rgb(199, 235, 184);
  color: rgb(0, 0, 0);
  width: 150px;
  max-height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 6px;
}

/* recipe page */

.ingredient-list {
  font-size: 0.8rem;
}

@media (min-width: 767.98px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-right: 10;
    margin-left: 10;
  }
}
