/* colours
dark green - #304922
lighter green - #8EB44F
pink/red - #ED6160
yellow - #DAAF53
pale beige - #F6EFDD*/
body {
  background-color: #f6efdd;
}

main {
  margin-right: 35;
  margin-left: 35;
}

.search-bar {
  border-radius: 35px;
  padding: 1rem;
  background-color: #daaf53;
}

/* recipe render page */

.ingredient-list {
  font-size: 0.8rem;
}
.recipe-car-anchors-container {
  text-align: center;
}
.recipe-title {
  background-color: #f6efdd;
  color: #304922;
}
.recipe-card-sm {
  background-color: #304922;
  color: #f6efdd;
}

.main-button-style {
  background-color: #304922;
  color: #f6efdd;
  max-height: 40px;
}

/* login page */
.login-page {
  padding-top: 5rem;
}

.login-form-container {
  background-color: #daaf53;
  width: 60vw;
  padding-top: 5rem;
  border-radius: 35px;
}

/* sign-up page */

.sign-up-page {
  width: 50vw;
  margin: 5rem 0rem 5rem 0rem;
}

.sign-up-form-container {
  background-color: #daaf53;
  padding: 3rem;
  border-radius: 35px;
}

@media (max-width: 767.98px) {
  .login-form-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-right: 10;
    margin-left: 10;
  }
}
