main {
  margin-right: 35;
  margin-left: 35;
}

.form-container {
  width: 75%;
}

.recipe-car-anchors-container {
  text-align: center;
}

.anchor-button-primary {
  background-color: black;
  color: white;
  width: 150px;
  max-height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 6px;
}

.anchor-button-secondary {
  background-color: rgb(199, 235, 184);
  color: rgb(0, 0, 0);
  width: 150px;
  max-height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 6px;
}

@media (min-width: 767.98px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-right: 10;
    margin-left: 10;
  }
}



