{{#each latestSavedRecipes as |recipe|}} <a href=/recipe/{{recipe.recipe_id}}>
<div
  class="card d-inline-flex justify-content-between p-2 bd-highlight"
  style="width: 18rem"
>
  <div class="card-body mx-auto">
    <img src="{{recipe.image}}" class="card-img-top" alt="Image of dish" />
    <a href=/recipe/{{recipe.recipe_id}}`>`
    <div
      class="card d-inline-flex justify-content-between p-2 bd-highlight"
      style="width: 18rem"
    >
      <div class="card-body mx-auto">
        <img src="{{recipe.image}}" class="card-img-top" alt="Image of dish" />
        <a href=/recipe/{{recipe.recipe_id}}`>`
        <div
          class="card d-inline-flex justify-content-between p-2 bd-highlight"
          style="width: 18rem"
        >
          <div class="card-body mx-auto">
            <img
              src="{{recipe.image}}"
              class="card-img-top"
              alt="Image of dish"
            />
            <a href=/recipe/{{recipe.recipe_id}}`>`
            <div
              class="
                card
                d-inline-flex
                justify-content-between
                p-2
                bd-highlight
              "
              style="width: 18rem"
            >
              <div class="card-body mx-auto">
                <img
                  src="{{recipe.image}}"
                  class="card-img-top"
                  alt="Image of dish"
                />
                <a href=/recipe/{{recipe.recipe_id}}`>`
                <div
                  class="
                    card
                    d-inline-flex
                    justify-content-between
                    p-2
                    bd-highlight
                  "
                  style="width: 18rem"
                >
                  <div class="card-body mx-auto">
                    <img
                      src="{{recipe.image}}"
                      class="card-img-top"
                      alt="Image of dish"
                    />
                    <a href=/recipe/{{recipe.recipe_id}}`>`
                    <div
                      class="
                        card
                        d-inline-flex
                        justify-content-between
                        p-2
                        bd-highlight
                      "
                      style="width: 18rem"
                    >
                      <div class="card-body mx-auto">
                        <img
                          src="{{recipe.image}}"
                          class="card-img-top"
                          alt="Image of dish"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
